@charset "UTF-8";
/* Палитра цветов */
/* Шрифты */
.body {
  background-color: #FFFFFF;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container ul {
  list-style: none;
}

.section {
  padding-bottom: 60px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.logo {
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-black {
  color: #000000;
}

.logo-blue {
  color: #2196F3;
}

.logo .logo-white {
  color: #FFFFFF;
}

.header-page {
  position: relative;
  border: 1px solid #ECECEC;
}

.container-main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 60px;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-close {
  width: 40px;
  height: 40px;
}

/*.menu-button .icon-close-menu {
    display: none;
}

.menu-button.is-open .icon-close-menu {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}*/
/*.menu-container {
    position: absolute;
    top: 100%;
    left: 0;

    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;

    width: 100%;
    background-color: $white-color;
}
*/
.site-nav {
  margin: 0;
  padding: 0;
}

.site-nav-item + .site-nav-item {
  margin-top: 40px;
}

.link-1 {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  margin: 0;
  padding: 0;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link-1:hover, .link-1:focus {
  color: #2196F3;
}

.link-1.current {
  color: #2196F3;
}

.active {
  position: relative;
}

.active:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  background-color: #2196F3;
  border-radius: 2px;
}

.address-container {
  margin-top: 58px;
}

.auth-nav {
  margin: 0;
  padding: 0;
}

.auth-nav-item + .auth-nav-item {
  margin-top: 16px;
}

.icon-mail, .icon-phone {
  margin-right: 10px;
  fill: currentColor;
}

.info {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
}

.info:hover, .info:focus {
  color: #2196F3;
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-list {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .feature-list-item + .feature-list-item {
    margin-top: 30px;
  }
}

.feature-list .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .feature-list .title {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .feature-list-item + .feature-list-item {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .feature-list-item {
    width: 354px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .feature-list-item:nth-child(2n) {
    margin-right: 0;
  }
  .feature-list-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .feature-list-item {
    width: 270px;
    margin: 0;
    padding: 0;
  }
}

.icon-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F5F4FA;
  margin-bottom: 30px;
  padding: 25px 190px;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .icon-block {
    padding: 25px 142px;
  }
}

@media screen and (min-width: 1200px) {
  .icon-block {
    padding: 25px 100px;
  }
}

.clarifications {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
}
/*# sourceMappingURL=main.css.map */