.backdrop {
    @include basicposition($type: fixed);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 100%;
    height: 100%;
    background: $shadow-color;
    
    @media screen and (max-width: 767px) {
        padding: 93px 15px;
        overflow-y: scroll;
    }

    @media screen and (min-width: $tablet) {
        padding: 208px 159px;
        overflow-y: scroll;
    }

    @media screen and (min-width: $desktop) {
        padding: 0;
    }
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}