.body {
    background-color: $white-color;
    color: $primary-text-color;
    font-family: $basic-font;
    letter-spacing: 0.03em;

    &.modal-open {
        overflow: hidden;
    }
}

.container {
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width: 480px) {
        width: $mobile;
    }

    @media screen and (min-width: 768px) {
        width: $tablet;
    }

    @media screen and (min-width: 1200px) {
        width: $desktop;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    ul {
        list-style: none;
    }
}

.section {
    padding-bottom: 60px;
    padding-top: 60px;
}

.section-title {
    margin-top: 0;
    margin-bottom: 30px;

    color: $title-text-color;
    font-weight: $basic-weight;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}