.header-page {
    position: relative;
}

.container-main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 80px;
}

.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    @media screen and (min-width: $tablet) {
        display: none;
    }

    & .icon-close-menu {
        display: none;
    }

    &.is-open .icon-close-menu {
        display: block;
    }

    &.is-open .icon-menu {
        display: none;
    }

    &:hover, &:focus {
        fill: $accent-color;
    }
}

.menu-close {
    width: 40px;
    height: 40px;
}

.menu-container {
    @media screen and (max-width: 767px) {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;

        padding-top: 60px;
        padding-bottom: 60px;
        text-align: center;

        background-color: $white-color;
    }

    @media screen and (min-width: $tablet) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &.is-open {
        display: block;
    }
}

.site-nav {
    margin: 0;
    padding: 0;

    @media screen and (max-width: 767px) {
        &-item + &-item {
            margin-top: 40px;
        }
    }

    @media screen and (min-width: $tablet) {
        @include centeredflex();

        &-item + &-item {
            margin-left: 50px;
        }
    }

}

.link-1 {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: inline-block;

    color: $title-text-color;
    font-weight: 500;
    font-size: $basic-size;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    @media screen and (min-width: $tablet) {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    &:hover, &:focus {
        color: $accent-color;
    }

    &.current {
        color: $accent-color;
    }
}

.active {
    position: relative;
    padding-bottom: 8px;

    &:after {
        content: '';
        @include basicposition($type: absolute);
        height: 4px;
        width: 100%;
        background-color: $accent-color;
        border-radius: 2px;
    }
}

.address-container {
    @media screen and (max-width: 767px) {
        margin-top: 60px;
    }

    @media screen and (min-width: $tablet) {
        margin-left: 84px;
        padding-top: 21px;
        padding-bottom: 21px;
    }

    @media screen and (min-width: $desktop) {
        margin-left: 305px;
    }
}

.auth-nav {
    margin: 0;
    padding: 0;
    
    &-item + &-item {
        @media screen and (max-width: 767px) {
            margin-top: 16px;
        }
    }

    @media screen and (min-width: $tablet) {
        &-item + &-item {
            margin-top: 10px;
        } 
    }

    @media screen and (min-width: $desktop) {
        @include centeredflex();

        &-item + &-item {
            margin-left: 30px;
            margin-top: 0;
        }
    }
}

.icon-mail, .icon-phone {
    margin-right: 10px;
    fill: currentColor;

    @media screen and (min-width: $tablet) {
        margin-right: 8px;
    }
}

.info {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: $primary-text-color;
    font-weight: 500;
    font-size: $basic-size;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;

    &:hover, &:focus {
    color: $accent-color;
    }
}