.hero {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $desktop) {
        min-height: 600px;
    }

    background-image: linear-gradient( to right, 
    rgba(47, 48, 58, 0.8),
    rgba(47, 48, 58, 0.8)),
    url("../images/проект480.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
        background-image: linear-gradient( to right, 
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)),
        url("../images/проект480-2x.jpg");
    }

    @media (min-width: $tablet) {
        background-image: linear-gradient( to right, 
            rgba(47, 48, 58, 0.8),
            rgba(47, 48, 58, 0.8)),
            url("../images/проект768.jpg");

        @media (min-resolution: 2dppx) {
            background-image: linear-gradient( to right, 
            rgba(47, 48, 58, 0.8),
            rgba(47, 48, 58, 0.8)),
            url("../images/проект768-2x.jpg");
        }
    }

    @media (min-width: $desktop) {
        background-image: linear-gradient( to right, 
            rgba(47, 48, 58, 0.8),
            rgba(47, 48, 58, 0.8)),
            url("../images/проект1600.jpg");

        @media (min-resolution: 2dppx) {
            background-image: linear-gradient( to right, 
            rgba(47, 48, 58, 0.8),
            rgba(47, 48, 58, 0.8)),
            url("../images/проект1600-2x.jpg");
        }
    }
}

.container-hero {
    max-width: 360px;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;

    color: $white-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
}

.service {
    text-decoration: none;
}

.service-title {
    display: inline-flex;
    
    min-width: 200px;
    padding: 10px 32px;
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 4px;

    background-color: $accent-color;
    color: $white-color;
    font-weight: $basic-weight;
    font-size: 16px;
    text-align: center;
    line-height: 1.88;
    letter-spacing: 0.06em
}