.team {
    background: $complementary-color3;
}

.team-list {
    margin: 0;
    padding: 0;

    @media screen and (max-width: 767px) {
        &-item + &-item {
            margin-top: 30px
        }
    }

    @media screen and (min-width: $tablet) {
        @include centeredflex();
        justify-content: center;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.team-list-item {
    @media screen and (min-width: $tablet) {
        width: calc((100% - 4 * 15px) / 2);
        margin: 15px;
    }

    @media screen and (min-width: $desktop) {
        width: calc((100% - 8 * 15px) / 4);
        margin: 15px;
    }
}

.card-image {
    display: block;
    width: 450px;

    @media screen and (min-width: $tablet) {
        width: 354px;
    }

    @media screen and (min-width: $desktop) {
        width: 270px;
    }
}

.card-foto {
    width: 450px;
    box-shadow: 0px 2px 1px $shadow-color,
    0px 1px 1px $shadow-color3,
    0px 1px 3px $shadow-color2;
    border-radius: 0px 0px 4px 4px;

    &-content {
        padding-top: 30px;;
        padding-bottom: 24px;
        background: $white-color;
    }

    @media screen and (min-width: $tablet) {
        width: 354px;
    }

    @media screen and (min-width: $desktop) {
        width: 270px;
    }
}

.name {
    margin-top: 0;
    margin-bottom: 10px;

    color: $title-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.specialization {
    margin-top: 0;
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.links-list {
    display: flex;
    padding: 0;
    justify-content: center;

    .social + .social {
        margin-left: 10px;
    }
}

.social-list {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: $complementary-color8;

    &:hover, &:focus {
        background: $accent-color;
        fill: $white-color;
    }
}